streamlit==1.38.0
folium==0.17.0
geopandas==1.0.1
shapely==2.0.6
pyproj==3.6.1
requests==2.32.3
fpdf==1.7.2
pandas==2.2.2
numpy==1.26.4
owslib==0.31.0
branca==0.7.2
staticmap==0.5.7
python-docx==1.1.2
Pillow==10.4.0
